@model Clinic

@{
    ViewData["Title"] = "Excluir";
}

<h1>
    Excluir
</h1>

<h3>
    Deseja realmente excluir esta clínica?
</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">

        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar a listagem</a>

    </form>
</div>
